html, body{
  height: 100%;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  background-attachment: fixed;
}

.radio-box{
  margin-top: 50px;
  margin-bottom: 2px;
}

body {
  background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
}
.heading, .radio-box{
  text-align: center;
  color: #ffffff;
}
 .heading{
   padding-top: 40px;
 }
/*.message-block{
  justify-content: center;
}*/

.radio-box{
  margin: 80px 5px 15px 10px;
}
.choose-message{
  justify-content: center;
  background-color: #ffffff;
  padding: 15px;
  margin: auto;
  border-radius: 10px;
  margin: 1% 35% 3% 35%;
}

.receive-message{
  font: #ffffff;
}

div{
  align-items: center;

}

button{
  color: #ffffff;
  background-color: #134d71;
}

.display {
  background-color: #ffffff;
  border-radius: 15px;
  margin: 5% 20% 5% 20%;
  height: 200px;
  border: 100px;
}

.icon {
  padding: 3%;
  max-width: 12%;
  height: auto;
  margin-top: 3%;
}

.hidden{
  display: none;
}

.message{
  margin-top: 8%;
  padding: 80px;
}
/*font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;*/
