html, body{
  height: 100%;
}
*{
  font-family: "Quicksand", sans-serif;
}
body {
  background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
}
.heading, .radio-box{
  text-align: center;
  color: #ffffff;
}

.message-block{
  margin:;
  justify-content: center;
}

.radio-box{
  margin: 80px 5px 15px 10px;
}
.choose-message{
  background-color: #ffffff;
  border: 10px;
}

div{
  align-items: center;
  position: relative;
}

button{
  color: #134d71;
}
.icon{
  margin: auto;
  width: 150px;
}

.receive-message{
  justify-content: center;
  background-color: #ffffff;
  margin: auto;

}


/*font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;*/
